/*!
 * HITACHI VANTARA PROPRIETARY AND CONFIDENTIAL
 *
 * Copyright 2002 - 2017 Hitachi Vantara. All rights reserved.
 *
 * NOTICE: All information including source code contained herein is, and
 * remains the sole property of Hitachi Vantara and its licensors. The intellectual
 * and technical concepts contained herein are proprietary and confidential
 * to, and are trade secrets of Hitachi Vantara and may be covered by U.S. and foreign
 * patents, or patents in process, and are protected by trade secret and
 * copyright laws. The receipt or possession of this source code and/or related
 * information does not convey or imply any rights to reproduce, disclose or
 * distribute its contents, or to manufacture, use, or sell anything that it
 * may describe, in whole or in part. Any reproduction, modification, distribution,
 * or public display of this information without the express written authorization
 * from Hitachi Vantara is strictly prohibited and in violation of applicable laws and
 * international treaties. Access to the source code contained herein is strictly
 * prohibited to anyone except those individuals and entities who have executed
 * confidentiality and non-disclosure agreements or other agreements with Hitachi Vantara,
 * explicitly covering such access.
 */

.gwt-ScrollTable {
  border: 1px solid #AAAAAA;
}

.gwt-ScrollTable .headerWrapper {
  background: #c2cfa2 repeat-x scroll left bottom;
}

.gwt-ScrollTable .footerWrapper {
  background: #88BBDD url(images/bg_header_gradient.gif) repeat-x scroll left bottom;
  border-top: 1px solid #AAAAAA;
}

.gwt-ScrollTable .dataTable td {
  overflow: hidden;
  padding: 4px;
  white-space: nowrap;
}

.gwt-ScrollTable .headerTable td {
  font-weight: normal;
  color: #000000;
  border-right: 1px solid #AAAAAA;
}

.gwt-ScrollTable .headerTable-disabled td {
  font-weight: normal;
  color: #000000;
  border-right: 0px;
}

.gwt-ScrollTable .dataTable tr {
  background: white;
}

.gwt-ScrollTable .dataTable-disabled tr {
  background: white;
}

.gwt-ScrollTable .dataTable td {
  border-bottom: 1px solid #BEBEBE;
}

.gwt-ScrollTable .dataTable-disabled td {
  border-bottom: 0px;
}

.gwt-ScrollTable .dataTable tr.hovering {
  cursor: pointer;
  cursor: hand;
}

.gwt-ScrollTable .dataTable-disabled tr.hovering {
  cursor: default;
}

.gwt-ScrollTable .dataTable td.hovering {
  cursor: pointer;
  cursor: hand;
}

.gwt-ScrollTable .dataTable-disabled td.hovering {
  cursor: default;
}

.gwt-ScrollTable .dataTable tr.selected {
  background: #BEBEBE none repeat scroll 0% 0%;
}

.gwt-ScrollTable .pagingOptions {
  background: #E8EEF7 none repeat scroll 0% 0%;
  border-right: 1px solid #AAAAAA;
  border-top: 1px solid #AAAAAA;
  padding: 1px 0px;
}

.gwt-ScrollTable .pagingOptions .errorLabel {
  color: red;
}

.gwt-CellEditor {
  background: white none repeat scroll 0% 0%;
  border: 3px solid #BEBEBE;
  padding: 4px;
}

.gwt-CellEditor td {
  padding: 4px;
}

.gwt-TabBar {

}

.gwt-TabBar .gwt-TabBarFirst {

}

.gwt-TabBar .gwt-TabBarRest {

}

.gwt-TabBar .gwt-TabBarItem {
  background: #EEEEEE none repeat scroll 0% 0%;
  border-right: 1px solid blue;
  border-top: 1px solid blue;
  padding: 7px;
}

.gwt-TabBar .gwt-TabBarItem-selected {
  background: #FFFF00 none repeat scroll 0% 0%;
}

.gwt-TabPanel {

}

.gwt-TabPanelBottom {
  border: 2px solid blue;
  padding: 5px;
}
