<!-- /*!
 * HITACHI VANTARA PROPRIETARY AND CONFIDENTIAL
 *
 * Copyright 2002 - 2017 Hitachi Vantara. All rights reserved.
 *
 * NOTICE: All information including source code contained herein is, and
 * remains the sole property of Hitachi Vantara and its licensors. The intellectual
 * and technical concepts contained herein are proprietary and confidential
 * to, and are trade secrets of Hitachi Vantara and may be covered by U.S. and foreign
 * patents, or patents in process, and are protected by trade secret and
 * copyright laws. The receipt or possession of this source code and/or related
 * information does not convey or imply any rights to reproduce, disclose or
 * distribute its contents, or to manufacture, use, or sell anything that it
 * may describe, in whole or in part. Any reproduction, modification, distribution,
 * or public display of this information without the express written authorization
 * from Hitachi Vantara is strictly prohibited and in violation of applicable laws and
 * international treaties. Access to the source code contained herein is strictly
 * prohibited to anyone except those individuals and entities who have executed
 * confidentiality and non-disclosure agreements or other agreements with Hitachi Vantara,
 * explicitly covering such access.
 */ -->
<div id="standardDialog">
  <div id="standardDialogHeader" class="Caption">
    <div id="dialogTitleBar">
    <table width=100%>
    <tr>
      <td width="*">@{dlgAlertTitle}</td>
      <td width="19"><div id="dlgHelp" class="hidden"></div></td>
      
    </tr>
    </table>
    </div>
  </div>

  <div class="dialog-content">
    <div style="width:100%;clear:left;float:left; background-color: #FFF"><iframe id="helpIframe" frameborder="0" src="" width="100%" height="100%" style="width:100%; height:100%" border="0"/></iframe></div>
  </div>


  <div width=100%>
    &nbsp;
  </div>

  <div>
  <table width=100%>
  <tr>
    <td width="100%" class="standardDialogFooter">&nbsp;</td>
    <td class="footerButton buttonCancel">
      <button class="pentaho-button" id="dlgBtnCancel">@{btnLabelClose}</button>
    </td>
    <td class="footerButton buttonOK hidden">
      <button class="pentaho-button" id="dlgBtnNext">@{btnLabelContinue}</button>
    </td>
    <td class="footerButton buttonOK hidden">
      <button class="pentaho-button" id="dlgBtnSave">@{btnLabelContinue}</button>
    </td>
  </tr>
  </table>
  </div>
</div>
