/*!
 * HITACHI VANTARA PROPRIETARY AND CONFIDENTIAL
 *
 * Copyright 2002 - 2017 Hitachi Vantara. All rights reserved.
 *
 * NOTICE: All information including source code contained herein is, and
 * remains the sole property of Hitachi Vantara and its licensors. The intellectual
 * and technical concepts contained herein are proprietary and confidential
 * to, and are trade secrets of Hitachi Vantara and may be covered by U.S. and foreign
 * patents, or patents in process, and are protected by trade secret and
 * copyright laws. The receipt or possession of this source code and/or related
 * information does not convey or imply any rights to reproduce, disclose or
 * distribute its contents, or to manufacture, use, or sell anything that it
 * may describe, in whole or in part. Any reproduction, modification, distribution,
 * or public display of this information without the express written authorization
 * from Hitachi Vantara is strictly prohibited and in violation of applicable laws and
 * international treaties. Access to the source code contained herein is strictly
 * prohibited to anyone except those individuals and entities who have executed
 * confidentiality and non-disclosure agreements or other agreements with Hitachi Vantara,
 * explicitly covering such access.
 */

.ng-app-element {
	z-index: 99999;
	top: 5px !important;

	/* center the div */
	left: 0;
	right: 0;

	bottom: auto !important;
	width: 392px !important;
	min-height: 57px;
	max-height: 78px;
	margin: auto;
	color: #333;
	background-color: #fefde7;
	border: 1px solid #ccc;

	/* shadow */
	-webkit-box-shadow: 0 3px 5px 0px rgba(0,0,0,.20);
	-moz-box-shadow: 0 3px 5px 0px rgba(0,0,0,.20);
	box-shadow: 0 3px 5px 0px rgba(0,0,0,.20);
}

/* hide animated angular plugin when screen is loading */
.ng-app-element.ng-hide{display:none !important;}

.ng-app-element.ng-enter,
.ng-app-element.ng-leave,
.ng-app-element.ng-hide-add,
.ng-app-element.ng-hide-remove {
	-webkit-transition: 500ms ease-in-out !important;
	-moz-transition: 500ms ease-in-out !important;
	-ms-transition: 500ms ease-in-out !important;
	-o-transition: 500ms ease-in-out !important;
	transition: 500ms ease-in-out !important;

	display: inline-block !important;
}

/* Start Enter */
.ng-app-element[animate=slide-down-top].ng-enter,
.ng-app-element[animate=slide-down-top].ng-hide-remove {
	top: -50% !important;
	-webkit-transition-duration: 1000ms !important;
	-moz-transition-duration: 1000ms !important;
	-ms-transition-duration: 1000ms !important;
	-o-transition-duration: 1000ms !important;
	transition-duration: 1000ms !important;
}

/* Finish Enter */
.ng-app-element[animate=slide-down-top].ng-enter.ng-enter-active,
.ng-app-element[animate=slide-down-top].ng-hide-remove.ng-hide-remove-active {
	top: 5px !important;
}
