/*!
 * HITACHI VANTARA PROPRIETARY AND CONFIDENTIAL
 *
 * Copyright 2002 - 2017 Hitachi Vantara. All rights reserved.
 *
 * NOTICE: All information including source code contained herein is, and
 * remains the sole property of Hitachi Vantara and its licensors. The intellectual
 * and technical concepts contained herein are proprietary and confidential
 * to, and are trade secrets of Hitachi Vantara and may be covered by U.S. and foreign
 * patents, or patents in process, and are protected by trade secret and
 * copyright laws. The receipt or possession of this source code and/or related
 * information does not convey or imply any rights to reproduce, disclose or
 * distribute its contents, or to manufacture, use, or sell anything that it
 * may describe, in whole or in part. Any reproduction, modification, distribution,
 * or public display of this information without the express written authorization
 * from Hitachi Vantara is strictly prohibited and in violation of applicable laws and
 * international treaties. Access to the source code contained herein is strictly
 * prohibited to anyone except those individuals and entities who have executed
 * confidentiality and non-disclosure agreements or other agreements with Hitachi Vantara,
 * explicitly covering such access.
 */

body, td {
   font-family: Verdana, Helvetica, Sans-serif;
   color: #000000;
   font-size: 12px;
   padding: 0px;
   margin:  0px;
}
.main_title {
   height: 101px; 
   background:#fff2c5;
   color: #32332b;           
   font-size: 24px;
   font-weight: bold;
   vertical-align: middle;
   text-transform: uppercase;
   padding-left: 30px;
}
.sub_title {
   height: 43px; 
   color:#010101;
   background: #e0e0e0; 
   font-size: 16px;
   font-weight: bold;
   vertical-align: middle;
}
.bottom_title {
   color:#010101;
   background: #c8c5bc;
   vertical-align: middle;
   font-size:16px;
   font-weight: bold;
   padding: 10px 0px 10px 20px;
   margin-top: 10px;
   margin-bottom: 10px;
}
.top_link {
   color: #cecece;
   padding: 0px 50px 0px 0px;
}
.top_link a {
   font-size: 12px;
   color: #cecece;
   text-decoration:none; 
}

.title {
   background:#fff2c5;
   color: #32332b;           
   font-size: 24px;
   font-weight: bold;
   text-transform: uppercase;
   padding: 20px 0px 20px 50px;
}

ul { 
  list-style-image: url(images/triangle.gif); 
  font-size: 12px;
}

li {
  padding: 5px;	
}

h2 {
   font-size: 16px;
   padding: 10px 0px 5px 0px;
   margin: 0px;
}

h2.line {
   width: 100%;
   border-top: 1px solid #e0e0e0;
   border-bottom: 1px solid #e0e0e0;
   margin-bottom: 10px;
   margin-top: 10px;

}
.img {
   width: 100%;
   text-align: center;
   padding: 40px 0px 40px 0px;
   background: #f5f5eb;
   margin-top: 10px;
}
